USE [master]
GO
/****** Object:  Database [ParkingBaza]    Script Date: 7/4/2020 7:31:08 PM ******/
CREATE DATABASE [ParkingBaza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkingBaza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ParkingBaza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParkingBaza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ParkingBaza_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkingBaza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkingBaza]
GO
/****** Object:  Table [dbo].[Evidencija]    Script Date: 7/4/2020 7:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidencija](
	[ID_Evidencije] [int] IDENTITY(1,1) NOT NULL,
	[Registracioni_Broj] [nvarchar](20) NOT NULL,
	[Vreme_Ulaska] [time](0) NOT NULL,
	[Vreme_Izlaska] [time](0) NOT NULL,
	[Racun] [decimal](10, 3) NOT NULL,
	[Datum] [date] NOT NULL,
 CONSTRAINT [PK_Evidencija] PRIMARY KEY CLUSTERED 
(
	[ID_Evidencije] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Izlaz]    Script Date: 7/4/2020 7:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izlaz](
	[ID_Izlaz] [int] IDENTITY(1,1) NOT NULL,
	[Registracioni_Broj] [nvarchar](25) NOT NULL,
	[Vreme_Izlaska] [time](0) NOT NULL,
 CONSTRAINT [PK_Izlaz] PRIMARY KEY CLUSTERED 
(
	[ID_Izlaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 7/4/2020 7:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[ID_Korisnika] [int] IDENTITY(1,1) NOT NULL,
	[Korisnicko_Ime] [nvarchar](50) NOT NULL,
	[Ime Prezime] [nvarchar](50) NOT NULL,
	[Pozicija] [nvarchar](50) NOT NULL,
	[Sifra] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[ID_Korisnika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ulaz]    Script Date: 7/4/2020 7:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ulaz](
	[ID_Ulaz] [int] IDENTITY(1,1) NOT NULL,
	[RegistracioniBroj] [nvarchar](50) NOT NULL,
	[Vreme_Ulaska] [time](0) NOT NULL,
 CONSTRAINT [PK_Ulaz_Parkinga] PRIMARY KEY CLUSTERED 
(
	[ID_Ulaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
